body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: grey;
}

.slider{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider img{
	width: 800px;
}
.slider .arrow{
	display: flex;
	align-items: center;
	font-size: 50px;
	margin: 40px;
}
#root{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dots i{
	margin: 20px;
	font-size: 20px;
}
.dots i.active{
	color: red;
}