body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: grey;
}

.slider{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider img{
	width: 800px;
}
.slider .arrow{
	display: flex;
	align-items: center;
	font-size: 50px;
	margin: 40px;
}